<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <script src="bower_components/anguar/angular.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <title>Angular Login</title>
</head>
<body>
  <h1>Hello World</h1>
</body>
</html>
